table,th,td{
	font-size: 85%;
	border:1px solid black;
	border-collapse:collapse;
	font-family: Verdana,Helvetica,Arial,sans-serif;
	
}
#t0{
	border:10px solid white;
	border-collapse: separate;
}

th, td{
	padding: 1px 10px 1px 10px;
}

th {
	background-color:#66CCFF;
}
tfoot{
	background-color:#FF9999;
}
span{
	font-weight: bold;
}
div{
	margin-bottom: 0.5em;
}
#center{
	text-align: center;
	
}
#normal{
	color:black;
    text-decoration:none;
}
#filter{
	padding: 3px;
	background-color:orange;
}

#sort{
	padding: 3px;
	background-color:#81F7D8;
}